.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 40px;
  background-color: rgb(173, 169, 169);
}

.todo {
  width: 360px;
  max-height: 700px;
  overflow-y: auto;
  background-color: white;
}
